<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>

    {% load static %}
    <!-- Load static files again, which is not necessary as it was already loaded at the beginning -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {# Link to a CSS stylesheet using the {% static %} template tag #}

    {% include 'index.html' %}
    <!-- Include the content of 'index.html' in this HTML template -->
</head>
<body>
    <h4>Add Student</h4>

    <form method="post">
        {% csrf_token %}
        <!-- Include a CSRF token to protect against Cross-Site Request Forgery (CSRF) attacks -->

        {{ form.name.label_tag }}
        <!-- Display the label for the "name" field of a form -->
        {{ form.name }}
        <!-- Display the input field for the student's name -->
        <label>Telephone:</label>
        {{ form.phone }}
        {{ form.nationality.label_tag }}
        {{ form.nationality }}
        <label>Date of Birth: <strong>{{ form.dob.value }}</strong>  </label>
        <!-- Display a label for the "dob" (date of birth) field and include the initial value -->
        <input type="date" name="dob" id="id_dob" required>
        <input type="hidden" name="id" value="{{ student.id }}">
        <!-- Create a hidden input field to store the student's ID -->
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
